* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: black; */
}
.table__Container {
  margin-top: 2%;
  margin-bottom: 5%;
}
tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  padding: 10px 0px;
  margin-top: 5px;
  border-radius: 1rem;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  font-weight: 400;
}
tr div {
  padding: 9px 12px;
  border-radius: 50%;
  cursor: pointer;
  color: black;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  background-color: white;
}
